.current-delivery-container {
    /* width: 100%; */
    background-color: #477fc4;
    height: 75vh;
    padding: 10px;

    
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    overflow-y: scroll;
    border-radius: 10px;
}
.current-delivery-container:first-child{
    margin-top: 10x;
}

.current-delivery-item #more{
    display: block;
    padding-bottom: 220px;
}
.current-delivery-item {
    background-color: rgb(112, 27, 27)	;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    transition: .3s;
}

.current-delivery-item:hover{
    padding: 15px;
    cursor: pointer;
}

.current-delivery-item button{
    opacity: .5;
    font-size: 16px;
    /* margin: 5px; */
    padding: 10px;
    /* border-bottom: 1px solid black; */
    background-color: #a6dbdb;
    border-radius: 5px;
    margin-top: 1px;
    /* box-shadow: none; */
    border: none;
    /* text-decoration: none; */
    color:rgb(51, 47, 47);
    cursor: pointer;
    transition: .3s;
}

.current-delivery-item button:hover{
    opacity: 1;
    padding: 15px;
}


.current-delivery-main{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}