.active-delivery-main {
    padding: 10px;
    background-color: black;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    align-items: center;
    height: 500px;
    /* overflow: hidden; */
    overflow-y: scroll;
}

.inner-delivery-main {
    width: 95%;
    /* height: 1000px; */
}

.index-item-holder {
    /* background-color: red; */
    /* width: 100%; */
    display: flex;
    /* justify-content: space-between; */
    /* flex-direction: row; */
    margin: 5px;
}

.index-item {
    background-color: teal;
    border-bottom: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    transition: .2s;
    cursor: pointer;
}

.index-item:hover {
    background-color: slateblue;
    padding: 12px;
    margin: 7px;
}

.index-item:hover>.claim-delivery {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 20px;
    transition: .5s;
}

.claim-delivery {
    display: none;
    font-size: 12px;
    width: 0px;
    height: 0px;
    cursor: pointer;
}

.addresses {
    width: 55%;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addresses h2 {
    font-size: 13px;
    font-weight: 100;
}

.right-side {
    width: 45%;
    height: 50px;
    /* background-color: maroon; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payout {
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
}

.money {
    /* background-color: royalblue; */
    /* width: 120px; */
    display: flex;
    flex-direction: row;
}

.money h1 {
    font-weight: 100;
    font-size: 250%;
    /* background-color: red; */
}

.payout span {
    margin-top: -5px;
    /* margin-left: 67%; */
    font-size: 13px;
    /* background-color: rosybrown; */
}

.distance {
    /* background-color: rosybrown; */
    width: 75px;
    font-size: 40px;
}

.distance h1 {
    font-weight: 100;
}

.distance p {
    margin-left: 40%;
    margin-top: -5px;
    font-size: 13px;
}