input {
    color: black;
    width: 300px;
}

@keyframes modalFade {
    from {
        transform: translateY(-100%);
        padding: 0;
        opacity: 0;
    }
    to {
        /* transform: translateY(0);opacity: 1; */
    }
}

.modal-child {
    padding: 30px;
    background-color: #4A5050;
    border-radius: 10px;
    animation-name: modalFade;
    animation-duration: .7s;
    /* transition: .3s; */
}

.location-search-input {
    color: black;
}

.autocomplete-dropdown-container {
    color: black;
}

.task-form-button {
    width: 80px;
    height: 30px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: #687C96;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    z-index: 10;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 5px;
    transition: .3s;
    text-align: center;
}

#confirm {
    text-align: center;
    padding-top: 8px;
    justify-content: center;
    align-content: center;
}

.task-form-button:active {
    opacity: .3;
}

button.task-form-button:hover {
    width: 140px;
}

input.task-form-button:hover {
    width: 140px;
}

#cancel.task-form-button:hover {
    background-color: firebrick;
}

#confirm.task-form-button:hover {
    background-color: green;
}

#edit.task-form-button:hover {
    background-color: green;
}

#submit.task-form-button:hover {
    background-color: rgb(41, 41, 145);
}

:focus {
    outline: none;
}

.task-form-container {
    border: 0;
    padding: 0;
    margin: 0;
    width: 300px;
    align-content: center;
    display: flex;
}

.task-form-errors {
    color: rgb(88, 9, 9);
    font-weight: 900;
    list-style-type: square;
    margin-left: 30px;
    letter-spacing: 1pt;
}

.price-display-box {
    text-align: center;
    position: relative;
}

.price-display-box div {
    display: flex;
    justify-content: space-between;
    border: .5px outset black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
}

div.price-display-box {
    margin-right: 7px;
}

.confirm-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

div.confirm-buttons {
    margin-top: 20px;
    border: 0;
}

.price-display-box>div>p:nth-child(1) {
    margin-right: 20px;
}