input{
    color: black;
    width: 300px;
}

@keyframes modalFade {
    from {
        transform: translateY(-100%);
        padding: 0;
        opacity: 0;
    }
    to {
        /* transform: translateY(0);opacity: 1; */
    }
  }

.modal-child{
    padding: 30px;
    background-color: #4A5050 ;
    border-radius: 10px;
    animation-name: modalFade;
    animation-duration: .7s;
    /* transition: .3s; */
}


.location-search-input{
    color:black;

}

.autocomplete-dropdown-container{
    color:black;
}

.task-form-button{
    width:80px;
    height:30px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: #687C96;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    z-index: 10;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: black;
}
.task-form-button:hover{
    opacity: .3;
}


:focus{
    outline: none;
}

.task-form-container{
    border:0;
    padding: 0;
    margin: 0;
    width:300px;
    align-content: center;
    display: flex;
}
