.login-form-container {
    background: silver;
    border-radius: 10px;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.holder {
    /* padding-top: 20px; */
    /* background: crimson; */
    /* width: 600px; */
    /* height: 500px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.login-form {
    width: 100%;
    height: 30vh;
    background-color: #4a5050;
    border-radius: 15px;
    padding-top: 15px;
    /* width: 500px;
    height: 100%; */
    display: flex;
    /* justify-content: co; */
    flex-direction: column;
    align-items: center;
}

.login-form form {
    width: 90%;
    padding: 5px;
    padding-bottom: 30px;
}

.login-button {
    background-color: #687C96;
    box-shadow: 0;
    border-radius: 5px;
    border: 0;
    opacity: .5;
    margin-top: 5px;
    padding-top: 5px;
    width: 125px;
    height: 30px;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: white;
    transition: .5s;
}

.login-button:hover {
    opacity: 1;
    cursor: pointer;
    width: 200px;
    background: maroon;
    padding: 11px;
    padding-bottom: 30px;
    padding-top: 10px;
}

:focus {
    outline: none;
}