.navbar {
    /* margin-top: 40px; */
    width: 80%;
    min-width: 750px;
    max-width: 1200px;
    background-color: #4a5050;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.navbar-loggedin {
    /* margin-top: 40px; */
    width: 80%;
    min-width: 750px;
    max-width: 1200px;
    background-color: #4a5050;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* .header-logo {
    font-size: 40px;
} */

.top{
    /* height: 125px; */
    /* padding-top: 30px; */
    letter-spacing: -2px;
    /* background-color:  pink; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-bottom: 20px; */
}

.top img {
    margin-left: 3%;
    /* background-color: darkslateblue; */
}

.dropdown{
    width: 250px;
    /* height: 50px; */
    /* margin-top: -10px; */
    margin-bottom: -85px;
    margin-right: 2%;
    /* background-color: skyblue; */
    /* float: right; */
    /* display: flex; */
    justify-content:end;
    align-items: center;
    flex-direction: row;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.dropdown .header-button{
    position: relative;
    display: flex;
    font-family: 'Roboto';
    background-color: rgb(187, 239, 248);
    color: black;
    padding: 2px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px #757474;
    margin-left: 0px;
}
