.sidebar {
    height: 100%;
    width: 170px;
    margin-right: 5px;
    /* background-color: pink; */
}

.sidebar-links {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.sidebar-links .links, .sidebar-links button {
    opacity: .5;
    font-size: 16px;
    padding: 10px;
    background-color: #4A5050;
    border-radius: 5px;
    margin-top: 1px;
    border: none;
    color: white;
    text-align: left;
    cursor: pointer;
    transition: .2s;
}

.price-display-box {
    align-items: center;
    display: block;
}

.sidebar-links .links:hover, .sidebar-links button:hover {
    opacity: 1;
    cursor: pointer;
}