.signup-form-container {
    min-height: 500px;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}

.driver-or-customer {
    /* width: 90%; */
    /* font-size: 22px; */
    /* background: red; */
    /* text-align: center; */
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.holder {
    /* background: black; */
    /* display: flex; */
    /* height: ; */
    width: 350px;
    /* flex-direction: row; */
}

.signup-main {
    /* background: slateblue; */
    /* width: 500px; */
    /* height: 500px; */
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.signup-form {
    background-color: #4a5050;
    padding: 15px;
    border-radius: 15px;
    /* height: inherit; */
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    /* background: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

form input {
    padding: 5px 2px;
}

.formsubmit {
    width: 100%;
    height: 30px;
    /* margin: 10px 30px; */
    /* padding: 10px 0px;  */
    /* font-size: 12px; */
    border: none;
    text-decoration: none;
    /* text-align: center; */
    align-items: center;
    background-color: white;
    border-radius: 7px;
    transition-duration: .5s;
    cursor: pointer;
}

.formsubmit:hover {
    height: 40px;
    /* margin: 0 10px; */
    width: 100%;
    background-color: maroon;
    color: white;
}

.clickon {
    width: 30%;
    height: 30px;
    /* margin: 10px 30px; */
    /* padding: 10px 0px;  */
    font-size: 12px;
    border: none;
    text-decoration: none;
    /* text-align: center; */
    align-items: center;
    background-color: white;
    border-radius: 7px;
    transition-duration: .5s;
    cursor: pointer;
}

.clickon:hover {
    height: 40px;
    margin: 0 10px;
    width: 90%;
    background-color: maroon;
    color: white;
}

/* .clickon:focus {
    background-color:black;
    border: none;
} */