.splashbuttons {
    width: 60px;
    height: 30px;
    color: white;
    /* margin: 10px 30px; */
    /* padding: 10px 0px;  */
    font-size: 12px;
    border: none;
    text-decoration: none;
    /* text-align: center; */
    align-items: center;
    background-color: #4a5050;
    border-radius: 7px;
    transition-duration: .5s;
    cursor: pointer;
    font-weight: bold;
}

.splashbuttons:hover {
    height: 40px;
    width: 75px;
    background-color: firebrick;
    color: white;
}

.buttons {
    margin-top: -170px;
    background-color: seashell;
    width: 200px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    padding: 20px;
    z-index: 1;
}

.splashpage-main {
    background-color: silver;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
}

.left-side {
    /* background-color: darkseagreen; */
    margin-left: 5%;
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
}

.left-side-text {
    /* background-color: teal;
    padding: 15px;
    border-radius: 5px; */
    max-width: 250px;
    font-size: 16px;
    color: black
}

.splashpage-right-side {
    /* background-color: red; */
    width: 65%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.splashpage-right-side img {
    height: 600px;
    margin-top: -50px;
}

.div-foot {
    display: flex;
    bottom: 0;
    position: fixed;
    flex-direction: row;
    padding: 0px 20px 0px;
}

.account-link {
    color: sandybrown;
    list-style: none;
    padding: 10px;
}

.account-link img {
    height: 40px;
}