.taskshow-main {
    height: 500px;
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-holder {
    background-color: darkslateblue;
    padding: 10px;
    border-radius: 7px;
    padding: 5px;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.graphics {
    background-color: seashell;
    height: 45%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image {
    height: 100%;
    width: 50%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image img {
    /* height: 100%; */
}

.image-upload {
    background-color: black;
    /* width: 50%; */
}

.delete-button {
    display: flex;
    float: left;
    position: relative;
    justify-content: left;
    justify-self: left;
}

/* .map-holder {
    height: 100%;
    width: 50%;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.task-main-map {
    background-color: black;
    width: 100%;
    position: relative;
}

.task-map {
    background-color: brown;
    /* width: 10%; */
    /* height: 500px; */
    /* display: flex;
    justify-content: center; */
}

.directions {
    background-color: grey;
    height: 35%;
    width: 90%;
    padding: 7px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.price-accept {
    padding: 7px;
    border-radius: 7px;
    background-color: grey;
    width: 20%;
    min-width: 175px;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.price-accept h1 {
    font-size: 36px;
    font-weight: 100;
}

.price {
    /* background-color: darkslateblue; */
}

.price-accept p {
    margin-top: 5px;
}