.taskshow-main {
    height: 500px;
    background-color: darkslateblue;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-holder {
    background-color: black;
    padding: 10px;
    border-radius: 7px;
    padding: 5px;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.graphics {
    /* background-color: seashell;
    height: 45%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

.task-show-info {
    background-color: black;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    height: 100%;
    width: 450px;
    margin-right: 3px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.image img {
    height: 100%;
}

.task-show-buttons {
    width: 80%;
    padding: 5px;
    display: flex;
    /* background: lightcoral; */
    justify-content: space-between;
}
.inputbutton {
    opacity: 0;
}
.task-show-buttons button {
    border: none;
    padding: 5px;
    min-width: 100px;
    background: lightcoral;
}
.image-upload {
    background-color: pink;
}

.image-upload input{
    background-color:aliceblue;
}

/* .image-upload button {
    width: 100px;
} */

/* .delete-button button {
    width: 200px;
} */
.delete-button {
    background-color: navy;
    padding: 5px;
    /* width: 70%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    /* float: left; */
    /* position: relative; */
    /* justify-content: left; */
    /* justify-self: left; */
}

.task-main-map {
    /* background-color: yellow; */
    /* width: 100%; */
    height: 50%;
    /* padding: 0 3px; */
}
/* .task-image{
    height: 100%;
} */
.task-map {
    position: relative;
    background-color: brown;
    /* width: 10%; */
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
}

.info-section {
    /* background-color: khaki; */
    display:flex;
    height: 47%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.directions {
    /* background-color: navy; */
    height: 65%;
    width: 95%;
    padding: 3px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    font-size: 14px;
}

.price-accept {
    padding: 7px;
    border-radius: 7px;
    /* background-color: grey; */
    width: 20%;
    min-width: 175px;
    /* height: 10%; */
    display: flex;
    justify-content: space-between;
}

.price-accept h1 {
    font-size: 36px;
    font-weight: 100;
}

.price {
    /* background-color: darkslateblue; */
}

.price-accept p {
    margin-top: 5px;
}

@media  (max-width: 1250px) {
    .task-holder {
        /* background-color: darkslateblue; */
        flex-direction: column;
        height: 100%;
        min-height: 600px;
    }

    .taskshow-main {
        height: 100%;
    }

    .task-show-info {
        width: 100%;
    }

    .directions{
        height: auto;
        /* background-color: pink; */
    }
    .price-accept {
        /* background-color: ivory; */
        /* width: 20%; */
        margin-top: -75px;
    }
}